.nav{
    position: relative;
    letter-spacing: 3px;
}

.big-l{
    display: flex;
    flex-grow: 1;
}
.big-nav {
    box-shadow: 10px 5px 30px black;
}
.nav::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1.5px;
    background-color: rgb(34 211 238 / var(--tw-text-opacity));
    left: 0;
    bottom: -4px;
    transition: 0.2s;
    border-radius: 4px;
    text-align: center;
    
}
.nav:hover::after{
    width: 100%;
}

.toggle-btn {
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    margin-left: .2rem ;
    font-weight: 100;
}

.dropdown_menu {
    display: none;
    position: absolute;
    left: 1.2rem;
    top: 60px;
    width:91%;
    border-radius: 10px;
    background: rgba(120, 120, 120, 0.4);
    backdrop-filter: blur(15px);
    overflow: hidden;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 180px;
}

.toggle-nav{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-weight: 100;
}


@media (max-width : 624px) {
    .big-l {
        display: none;
        /* padding: 4rem;  */
    }
    .toggle-btn{
        display: block;

    }
    .dropdown_menu{
        display: block;
    }

}
