@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  --tw-bg-opacity: 1;
  font-family: "Poppins";
  /* background-image: linear-gradient( 135deg,#360940 10% , #F05F57 100%); */
    
  /* background-color: rgb(229 231 235 / var(--tw-bg-opacity)); margin: 0; */
  /* background-color: rgb(15 23 42 / var(--tw-bg-opacity)); */
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

